PENCA 2008

In [1]:
from IPython.display import Image
import pandas as pd
from os import walk
%pylab inline
import re
import matplotlib.pyplot as plt
plt.rc('legend', fontsize='small')
from mpl_toolkits.mplot3d import Axes3D
from IPython.display import display, HTML

from datetime import timedelta
from __future__ import print_function, division
import statsmodels.formula.api as smf
import pylab as pl
pd.set_option('precision', 2)

#import plotly.plotly as py
#import plotly.graph_objs as go
#from plotly.tools import FigureFactory as FF
#import scipy
#from xlrd import open_workbook

Populating the interactive namespace from numpy and matplotlib

In [ ]:
dire="files/"

def points(xg1,xg2,rg1,rg2):
  res = 0
  if not math.isnan(xg1) and not math.isnan(rg1) and xg1==rg1:
    res += 1
  if not math.isnan(xg2) and not math.isnan(rg2) and xg2==rg2:
    res += 1
  if not math.isnan(xg1) and not math.isnan(rg1):
    if not math.isnan(xg2) and not math.isnan(rg2):
      if ((xg1-xg2) < 0 and (rg1-rg2)< 0 ):
        res+=3 
      if ((xg1-xg2) > 0 and (rg1-rg2)> 0 ):
        res+=3 
      if ((xg1-xg2) == 0 and (rg1-rg2)== 0 ):
        res+=3
  return res

def seller(x):
  return x.split('_')[0].replace('Penca Argos Rusia 2018', '').replace('-','').replace(' ','')

def name(x):
  return x.split('_')[1].replace('Penca Argos Rusia 2018', '').replace('-','').replace(' ','')

def name2(x):
  return x.split('|')[1]

def speed(viejo,nuevo):
   if ( viejo > nuevo ):
     return '-'
   if ( viejo < nuevo ):
     return '+'
   if ( viejo == nuevo ):
     return '='

def myindex(name,data):
   #print(data.index[data.name2==name])
   
   #return data[data.name2==name].index
   #return data.index[data['BoolCol'] == True].tolist()
   
   return 1
   


def one():
  return 1

def incomplete(xg1,xg2):
  if math.isnan(xg1) and math.isnan(xg2):
    return 2
  if math.isnan(xg1):
    return 1
  if math.isnan(xg2):
    return 1

def incompleteff(label,value):
  if not label and math.isnan(value):
    return 2
  if not label:
    return 1
  if math.isnan(value):
    return 1

def total(points,points2):
    return points + points2

#def fixLabel(label):
#    if xlabel == 'Belgica':
#        return  'Bélgica'
#     if xlabel == 'Poloniq':
#        return  'Polonia'
    
#    return label

def pointsff(idx,xlabel,xvalue,rlabel,rvalue,keyx,keyr):
  #display('xlabel'+xlabel+'rlabel'+rlabel)

  #fixxlabel = fixLabel(xlabel)
  if xlabel not in ['Rusia', 'Egipto', 'Arabia Saudita','Uruguay',\
                    'Portugal','Marruecos','España','Irán',\
                    'Francia','Perú','Australia','Dinamarca',\
                    'Argentina','Islandia','Croacia','Nigeria',\
                    'Brasil','Suiza','Costa Rica','Serbia',\
                    'Alemania','México','Suecia','Corea del Sur',\
                    'Bélgica','Panamá','Túnez','Inglaterra',\
                    'Polonia','Senegal','Colombia','Japón']:
        display(idx + ' '+xlabel)
  res = 0
  if xlabel and rlabel and xlabel == rlabel:
    res += 3
  if keyx==keyr:
    res += points(xg1,xg2,rg1,rg2):
    
    
    
  return res

def buildx(file):
  xls = pd.ExcelFile(dire+file)
  y = pd.read_excel(xls, 'Fase de grupos')
  name=y[y.columns[4]][0]
  mail=y[y.columns[10]][0]
  #print(mail)  
  
  #if not mail.strip():
  #if len(str(mail))<4:
  #  print(name + ' vendido por '+ seller("%s|%s|%s" % (file, name, mail)))  
  #print(y[y.columns[10]][0])
   
  y=y[[y.columns[6],y.columns[7],y.columns[8],y.columns[9],]]
  y.columns = ['t1','g1','g2','t2']
  y['id']="%s|%s|%s" % (file, name, mail)
  y['name']=name
  #select rows
  A=y.iloc[4:10]
  B=y.iloc[14:20]
  C=y.iloc[24:30]
  D=y.iloc[34:40]
  E=y.iloc[44:50]
  F=y.iloc[54:60]
  G=y.iloc[64:70]
  H=y.iloc[74:80]
 
  #ff = pd.read_excel(xls, 'Fase final')
  #oct_etq=ff.iloc[4:10]
  
 
  z = pd.concat([A,B,C,D,E,F,G,H],axis=0)
  


  return pd.DataFrame(z)

def buildff(file):
  xls = pd.ExcelFile(dire+file)

  y = pd.read_excel(xls, 'Fase de grupos')
  name=y[y.columns[4]][0]
  mail=y[y.columns[10]][0]
  y = pd.read_excel(xls, 'Fase final')
  
  #name=y[y.columns[4]][0]
  #mail=y[y.columns[4]][0]
  y=y[[y.columns[3],y.columns[4],]]
  y.columns = ['label','value']
  oct1=y.iloc[4:6].copy()
  oct2=y.iloc[7:9].copy()
  oct3=y.iloc[11:13].copy() 
  oct4=y.iloc[14:16].copy() 
  oct5=y.iloc[18:20].copy()
  oct6=y.iloc[21:23].copy()
  oct7=y.iloc[25:27].copy() 
  oct8=y.iloc[28:30].copy() 
  
  #display(oct1['label'])

  oct1['key1']= oct1['label'][4] + '-' + oct1['label'][5]
  oct2['key1']= oct2['label'][7] + '-' + oct2['label'][8]
  oct3['key1']= oct3['label'][11] + '-' + oct3['label'][12]
  oct4['key1']= oct4['label'][14] + '-' + oct4['label'][15]
  oct5['key1']= oct5['label'][18] + '-' + oct5['label'][19]
  oct6['key1']= oct6['label'][21] + '-' + oct6['label'][22]
  oct7['key1']= oct7['label'][25] + '-' + oct7['label'][26]
  oct8['key1']= oct8['label'][28] + '-' + oct8['label'][29]
  

  #z = pd.concat([A,B,C,D,E,F,G,H],axis=0)
  z = pd.concat([oct1,oct2,oct3,oct4,oct5,oct6,oct7,oct8],axis=0)
  
  #z['key']= 'hola' 
    
    
  z['id']="%s|%s|%s" % (file, name, mail)
  return pd.DataFrame(z)  


    
r=buildx("RESULTADO_RESULTADO.xlsx")
rff=buildff("RESULTADO_RESULTADO.xlsx")
x=pd.DataFrame() #fase grupos
xff=pd.DataFrame() #fase final
for file in filter(lambda k: k.endswith('.xlsx') or k.endswith('.xls'), next(walk(dire))[2][:]):
  z=buildx(file)
  ff=buildff(file)  
  z = pd.concat([z,r],axis=1) 
 
  z.columns = ['xt1','xg1','xg2','xt2','idx','namex','rt1','rg1','rg2','rt2','idr','namer']  
  x = x.append(z)
  ff = pd.concat([ff,rff],axis=1) 
  #display(ff.head())
  ff.columns = ['xlabel','xvalue','keyx','idx','rlabel','rvalue','rid','keyr',]  
  xff = xff.append(ff)  

x['points'] =  pd.Series(x.apply(lambda x:points(x.xg1,x.xg2,x.rg1,x.rg2),axis = 1))
x['incompletes'] =  pd.Series(x.apply(lambda x:incomplete(x.xg1,x.xg2),axis = 1))
xff['incompletes'] =  pd.Series(xff.apply(lambda x:incompleteff(x.xlabel,x.xvalue),axis = 1))
xff['points'] =  pd.Series(xff.apply(lambda x:pointsff(x.idx,x.xlabel,x.xvalue,x.rlabel,x.rvalue,x.keyx,x.keyr),axis = 1))
#display(xff.head())
tabla = x.groupby(['idx']).sum().reset_index()
tablaff = xff.groupby(['idx']).sum().reset_index()
#display(tablaff.head())


tabla['seller'] =  pd.Series(tabla.apply(lambda tabla:seller(tabla.idx),axis = 1))
tabla['name'] =  pd.Series(tabla.apply(lambda tabla:name(tabla.idx),axis = 1))
tabla['name2'] =  pd.Series(tabla.apply(lambda tabla:name2(tabla.idx),axis = 1))
tabla['one'] =  pd.Series(tabla.apply(lambda tabla:one(),axis = 1))
tablaff['seller'] =  pd.Series(tabla.apply(lambda tabla:seller(tabla.idx),axis = 1))
tablaff['one'] =  pd.Series(tabla.apply(lambda tabla:one(),axis = 1))



#tabla1 = tabla.sort_values(['incompletes'], ascending=False)[['seller','points','incompletes','idx']]
tablaff1 = tablaff.sort_values(['points'], ascending=False)[['points','seller','incompletes','idx']]

#display (tablaff1.head())
#print ('total='+str(tabla1.shape[0]))

#display(tabla1[tabla1['seller']=='JonathanMurana'])    #
#display (tabla1.head())    

tabla2 = tabla.sort_values(['points'], ascending=False)[['name2','seller','points','idx']]
tabla2=tabla2.reset_index()
#display(tabla2[tabla2['seller']=='JonathanMurana'])    #

tabla2ff = tablaff1.sort_values(['points'], ascending=False)[['idx','points']]
tabla2ff=tabla2ff.reset_index()
tabla2ff.columns = ['index','idx','points2']  

#tabla2['pos']=tabla2.index
display (tabla2.head()) 
display (tabla2ff.head()) 

tablazz =  pd.merge(tabla2, tabla2ff, how='outer', on=['idx'])






#ranking = tabla.groupby(['seller']).sum().reset_index()
#ranking = ranking.sort_values(['one'], ascending=False)[['seller','one']]
#print(ranking)
#tabla2.style



#tabla2.style.set_properties(**{'background-color': 'black',
#                           'color': 'lawngreen',
#                           'border-color': 'white'})

#print(html)
#<head><meta charset="utf-8" />
#tabla2.to_html()
tabla3=tabla2[['name2','seller','points']]
#tabla3.to_json(open('my_file.html', 'w'),orient=split)

claveAnterior='Suiza(2)-CostaRica(2)_y_Brasil(2)-Serbia(0)'
clave='Belgica(1)-Inglaterra(0)_y_Panama(1)-Tunez(2)'


tablazz['total'] =  pd.Series(tablazz.apply(lambda tablazz:total(tablazz.points,tablazz.points2),axis = 1))
tablazz = tablazz.sort_values(['total'], ascending=False)
display (tablazz)
tabla3 = tablazz
tabla3_filtered = tabla3[tabla3.seller!='RESULTADO']
data='../penca-argos/src/assets/data_' + clave + '.json'

dataAnterior='../penca-argos/src/assets/data_' + claveAnterior + '.json'

tabla3_filtered_viejo=pd.DataFrame()
tabla3_filtered_viejo = pd.read_json(orient='records',path_or_buf=open(dataAnterior, 'r'))


#print (tabla3_filtered.index)
#print (tabla3_filtered_viejo.index)



#tabla3_filtered['last_index'] =   pd.Series(tabla3_filtered.apply\
#                                            (lambda tabla3_filtered:myindex(tabla3_filtered\
#                                                                            .name2,tabla3_filtered_viejo),axis = 1))


#pd.Series(tabla3_filtered_viejo.apply\
#                                      (lambda tabla3_filtered_viejo:speed(tabla3_filtered_viejo),axis = 1))

#print(tabla3_filtered_viejo[tabla3_filtered_viejo['name2']=='Ernesto RUTING'].index)


tabla3_filtered.to_json(orient='records',path_or_buf=open(data, 'w'))

file = open('../penca-argos/src/assets/config.json','w') 
config='{"clave":"' + clave + '"}'
file.write(config) 
file.close() 

#tabla3_filtered.to_csv(open('penca_argos_hasta_Rusia(3)-Egipto(1).csv', 'w'))

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Mauro_ 10 (CM2).xlsx|Carolina Mallo|carolina63...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,0.0,Uruguay-España,Mauro_ 10 (CM2).xlsx|Carolina Mallo|carolina63...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,Mauro_ 10 (CM2).xlsx|Carolina Mallo|carolina63...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,Mauro_ 10 (CM2).xlsx|Carolina Mallo|carolina63...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Suiza,0.0,Suiza-México,Mauro_ 10 (CM2).xlsx|Carolina Mallo|carolina63...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Rusia,0.0,Rusia-Portugal,Pancho_MBiganzoli2.xlsx|Martín Biganzoli|mbiga...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Rusia-Portugal,Pancho_MBiganzoli2.xlsx|Martín Biganzoli|mbiga...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,2.0,Perú-Croacia,Pancho_MBiganzoli2.xlsx|Martín Biganzoli|mbiga...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Perú-Croacia,Pancho_MBiganzoli2.xlsx|Martín Biganzoli|mbiga...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,1.0,Brasil-México,Pancho_MBiganzoli2.xlsx|Martín Biganzoli|mbiga...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Mauro_ 15 (MF).xlsx|Matias Fernández|matiferce...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,0.0,Uruguay-España,Mauro_ 15 (MF).xlsx|Matias Fernández|matiferce...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Argentina,Mauro_ 15 (MF).xlsx|Matias Fernández|matiferce...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,0.0,Francia-Argentina,Mauro_ 15 (MF).xlsx|Matias Fernández|matiferce...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Mauro_ 15 (MF).xlsx|Matias Fernández|matiferce...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,LucasBouissa_3_RicardoKoster.xlsx|RICARDO KÖST...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,LucasBouissa_3_RicardoKoster.xlsx|RICARDO KÖST...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,LucasBouissa_3_RicardoKoster.xlsx|RICARDO KÖST...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,LucasBouissa_3_RicardoKoster.xlsx|RICARDO KÖST...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,LucasBouissa_3_RicardoKoster.xlsx|RICARDO KÖST...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Javier Hernández_18_Marcelo Caraballo.xlsx|Mar...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Javier Hernández_18_Marcelo Caraballo.xlsx|Mar...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,0.0,Francia-Croacia,Javier Hernández_18_Marcelo Caraballo.xlsx|Mar...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,2.0,Francia-Croacia,Javier Hernández_18_Marcelo Caraballo.xlsx|Mar...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Javier Hernández_18_Marcelo Caraballo.xlsx|Mar...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Penca Argos Rusia 2018 AgustinPerez_3_LeandroV...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Penca Argos Rusia 2018 AgustinPerez_3_LeandroV...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_3_LeandroV...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,2.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_3_LeandroV...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Penca Argos Rusia 2018 AgustinPerez_3_LeandroV...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Rusia,1.0,Rusia-Portugal,Penca Argos Rusia 2018 AgustinPerez_7_Alexande...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Rusia-Portugal,Penca Argos Rusia 2018 AgustinPerez_7_Alexande...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Penca Argos Rusia 2018 AgustinPerez_7_Alexande...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,Penca Argos Rusia 2018 AgustinPerez_7_Alexande...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Penca Argos Rusia 2018 AgustinPerez_7_Alexande...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Pancho_FedeDoreste.xlsx|Federico Doreste|fede....,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Pancho_FedeDoreste.xlsx|Federico Doreste|fede....,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Islandia,Pancho_FedeDoreste.xlsx|Federico Doreste|fede....,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Francia-Islandia,Pancho_FedeDoreste.xlsx|Federico Doreste|fede....,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Pancho_FedeDoreste.xlsx|Federico Doreste|fede....,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Mauro_ 7 (FA).xlsx|FRANCO AMACORIA|franco31219...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Mauro_ 7 (FA).xlsx|FRANCO AMACORIA|franco31219...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mauro_ 7 (FA).xlsx|FRANCO AMACORIA|franco31219...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Mauro_ 7 (FA).xlsx|FRANCO AMACORIA|franco31219...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Mauro_ 7 (FA).xlsx|FRANCO AMACORIA|franco31219...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Javier Hernández_25_Gabriel Bulla.xlsx|Gabriel...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Javier Hernández_25_Gabriel Bulla.xlsx|Gabriel...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Javier Hernández_25_Gabriel Bulla.xlsx|Gabriel...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Javier Hernández_25_Gabriel Bulla.xlsx|Gabriel...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Javier Hernández_25_Gabriel Bulla.xlsx|Gabriel...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,LucasBouissa_24_RickyCalvo.xlsx|Ricardo Calvo|...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,LucasBouissa_24_RickyCalvo.xlsx|Ricardo Calvo|...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,LucasBouissa_24_RickyCalvo.xlsx|Ricardo Calvo|...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,LucasBouissa_24_RickyCalvo.xlsx|Ricardo Calvo|...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Corea del Sur,LucasBouissa_24_RickyCalvo.xlsx|Ricardo Calvo|...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 - ErnestoRoca_5_Santiag...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Penca Argos Rusia 2018 - ErnestoRoca_5_Santiag...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Penca Argos Rusia 2018 - ErnestoRoca_5_Santiag...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Penca Argos Rusia 2018 - ErnestoRoca_5_Santiag...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Suecia,Penca Argos Rusia 2018 - ErnestoRoca_5_Santiag...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Marruecos,Penca Argos Rusia 2018 AgustinPerez_9_Nicolas ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Marruecos,0.0,Uruguay-Marruecos,Penca Argos Rusia 2018 AgustinPerez_9_Nicolas ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Penca Argos Rusia 2018 AgustinPerez_9_Nicolas ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,Penca Argos Rusia 2018 AgustinPerez_9_Nicolas ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Penca Argos Rusia 2018 AgustinPerez_9_Nicolas ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Paolo De Franco_ Paolo De Franco.xlsx|PAOLO DE...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Paolo De Franco_ Paolo De Franco.xlsx|PAOLO DE...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,Paolo De Franco_ Paolo De Franco.xlsx|PAOLO DE...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Paolo De Franco_ Paolo De Franco.xlsx|PAOLO DE...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Paolo De Franco_ Paolo De Franco.xlsx|PAOLO DE...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 - ErnestoRoca_7_Ernesto...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - ErnestoRoca_7_Ernesto...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 - ErnestoRoca_7_Ernesto...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Penca Argos Rusia 2018 - ErnestoRoca_7_Ernesto...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Penca Argos Rusia 2018 - ErnestoRoca_7_Ernesto...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Paolo De Franco_ Sergio Vitola.xlsx|SERGIO VIT...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Paolo De Franco_ Sergio Vitola.xlsx|SERGIO VIT...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,0.0,Perú-Nigeria,Paolo De Franco_ Sergio Vitola.xlsx|SERGIO VIT...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Perú-Nigeria,Paolo De Franco_ Sergio Vitola.xlsx|SERGIO VIT...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Paolo De Franco_ Sergio Vitola.xlsx|SERGIO VIT...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_8_Rafa...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_8_Rafa...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Penca Argos Rusia 2018 - FrankoGraziano_8_Rafa...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Penca Argos Rusia 2018 - FrankoGraziano_8_Rafa...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,Penca Argos Rusia 2018 - FrankoGraziano_8_Rafa...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Marruecos,Mauro_3 (RP).xlsx|Rafael Pérez|rafael.perez@mi...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Marruecos,0.0,Uruguay-Marruecos,Mauro_3 (RP).xlsx|Rafael Pérez|rafael.perez@mi...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mauro_3 (RP).xlsx|Rafael Pérez|rafael.perez@mi...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Mauro_3 (RP).xlsx|Rafael Pérez|rafael.perez@mi...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-México,Mauro_3 (RP).xlsx|Rafael Pérez|rafael.perez@mi...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,0.0,Uruguay-España,Penca Argos Rusia 2018 - FedericoArmandPilon_2...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Penca Argos Rusia 2018 - FedericoArmandPilon_2...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_2...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_2...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Penca Argos Rusia 2018 - FedericoArmandPilon_2...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Pancho_SofiaMastandrea.xlsx|Sofía M|sofiamasta...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Pancho_SofiaMastandrea.xlsx|Sofía M|sofiamasta...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,1.0,Perú-Argentina,Pancho_SofiaMastandrea.xlsx|Sofía M|sofiamasta...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,0.0,Perú-Argentina,Pancho_SofiaMastandrea.xlsx|Sofía M|sofiamasta...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Pancho_SofiaMastandrea.xlsx|Sofía M|sofiamasta...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Javier Hernández_6_Cecilia Amorena.xlsx|Ma. Ce...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Javier Hernández_6_Cecilia Amorena.xlsx|Ma. Ce...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,4.0,Francia-Islandia,Javier Hernández_6_Cecilia Amorena.xlsx|Ma. Ce...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Francia-Islandia,Javier Hernández_6_Cecilia Amorena.xlsx|Ma. Ce...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Javier Hernández_6_Cecilia Amorena.xlsx|Ma. Ce...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,LucasBouissa_11_AnthonyVillas.xlsx|Anthony Vil...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,LucasBouissa_11_AnthonyVillas.xlsx|Anthony Vil...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Nigeria,LucasBouissa_11_AnthonyVillas.xlsx|Anthony Vil...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,LucasBouissa_11_AnthonyVillas.xlsx|Anthony Vil...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,LucasBouissa_11_AnthonyVillas.xlsx|Anthony Vil...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Rusia,1.0,Rusia-Portugal,MarianoMartinez_5_EnriqueVentura.xlsx|Enrique ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Rusia-Portugal,MarianoMartinez_5_EnriqueVentura.xlsx|Enrique ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,MarianoMartinez_5_EnriqueVentura.xlsx|Enrique ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,MarianoMartinez_5_EnriqueVentura.xlsx|Enrique ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,MarianoMartinez_5_EnriqueVentura.xlsx|Enrique ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,MateoGonnet_10_SantiagoAPilon.xlsx|Santiago Ar...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,MateoGonnet_10_SantiagoAPilon.xlsx|Santiago Ar...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Nigeria,MateoGonnet_10_SantiagoAPilon.xlsx|Santiago Ar...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,MateoGonnet_10_SantiagoAPilon.xlsx|Santiago Ar...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,MateoGonnet_10_SantiagoAPilon.xlsx|Santiago Ar...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,JonathanMurana_TatianaAlvarez.xlsx|Tatiana Álv...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,JonathanMurana_TatianaAlvarez.xlsx|Tatiana Álv...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,JonathanMurana_TatianaAlvarez.xlsx|Tatiana Álv...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,JonathanMurana_TatianaAlvarez.xlsx|Tatiana Álv...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,JonathanMurana_TatianaAlvarez.xlsx|Tatiana Álv...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,"MarianoMartinez_9_TataMartinez.xlsx|Ramiro ""Ta...",Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,"MarianoMartinez_9_TataMartinez.xlsx|Ramiro ""Ta...",Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,"MarianoMartinez_9_TataMartinez.xlsx|Ramiro ""Ta...",Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,"MarianoMartinez_9_TataMartinez.xlsx|Ramiro ""Ta...",Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,"MarianoMartinez_9_TataMartinez.xlsx|Ramiro ""Ta...",Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Paolo De Franco_Flor Iraola.xlsx|MA. FLORENCIA...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Paolo De Franco_Flor Iraola.xlsx|MA. FLORENCIA...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,Paolo De Franco_Flor Iraola.xlsx|MA. FLORENCIA...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,Paolo De Franco_Flor Iraola.xlsx|MA. FLORENCIA...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Corea del Sur,Paolo De Franco_Flor Iraola.xlsx|MA. FLORENCIA...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Nicolás Fripp_10_NicolásFripp2.xlsx|Nicolás Fr...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Nicolás Fripp_10_NicolásFripp2.xlsx|Nicolás Fr...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Nicolás Fripp_10_NicolásFripp2.xlsx|Nicolás Fr...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Nicolás Fripp_10_NicolásFripp2.xlsx|Nicolás Fr...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Suecia,Nicolás Fripp_10_NicolásFripp2.xlsx|Nicolás Fr...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,JonathanMurana_JimenaMuraña.xlsx|Jimena Muraña...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,JonathanMurana_JimenaMuraña.xlsx|Jimena Muraña...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,2.0,Perú-Nigeria,JonathanMurana_JimenaMuraña.xlsx|Jimena Muraña...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Perú-Nigeria,JonathanMurana_JimenaMuraña.xlsx|Jimena Muraña...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,JonathanMurana_JimenaMuraña.xlsx|Jimena Muraña...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,NicolásFripp_13_GustavoFripp.xlsx|Gustavo Frip...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,NicolásFripp_13_GustavoFripp.xlsx|Gustavo Frip...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,NicolásFripp_13_GustavoFripp.xlsx|Gustavo Frip...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,3.0,Francia-Croacia,NicolásFripp_13_GustavoFripp.xlsx|Gustavo Frip...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,NicolásFripp_13_GustavoFripp.xlsx|Gustavo Frip...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Mathias Legarreta_05.xlsx|Mathias Legarreta|ma...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Mathias Legarreta_05.xlsx|Mathias Legarreta|ma...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,Mathias Legarreta_05.xlsx|Mathias Legarreta|ma...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Mathias Legarreta_05.xlsx|Mathias Legarreta|ma...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Mathias Legarreta_05.xlsx|Mathias Legarreta|ma...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 ECuello GALVAO 6...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 ECuello GALVAO 6...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018 ECuello GALVAO 6...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018 ECuello GALVAO 6...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Galvao_Penca Argos Rusia 2018 ECuello GALVAO 6...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Mauro_ 9 (JP).xlsx|Jessica Padilla|ekkapadilla...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Mauro_ 9 (JP).xlsx|Jessica Padilla|ekkapadilla...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,Mauro_ 9 (JP).xlsx|Jessica Padilla|ekkapadilla...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Mauro_ 9 (JP).xlsx|Jessica Padilla|ekkapadilla...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,5.0,Brasil-Suecia,Mauro_ 9 (JP).xlsx|Jessica Padilla|ekkapadilla...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Egipto,1.0,Egipto-España,Penca Argos Rusia 2018 - FrankoGraziano_7_Nata...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,3.0,Egipto-España,Penca Argos Rusia 2018 - FrankoGraziano_7_Nata...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,Penca Argos Rusia 2018 - FrankoGraziano_7_Nata...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,Penca Argos Rusia 2018 - FrankoGraziano_7_Nata...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Penca Argos Rusia 2018 - FrankoGraziano_7_Nata...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,0.0,Uruguay-España,Mathias Legarreta_ 01.xlsx|Mathias Legarreta|m...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Mathias Legarreta_ 01.xlsx|Mathias Legarreta|m...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mathias Legarreta_ 01.xlsx|Mathias Legarreta|m...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Mathias Legarreta_ 01.xlsx|Mathias Legarreta|m...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Mathias Legarreta_ 01.xlsx|Mathias Legarreta|m...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Javier Hernández_15_Juan José De León.xlsx|JUA...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Javier Hernández_15_Juan José De León.xlsx|JUA...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,Javier Hernández_15_Juan José De León.xlsx|JUA...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,Javier Hernández_15_Juan José De León.xlsx|JUA...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Javier Hernández_15_Juan José De León.xlsx|JUA...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Rusia,1.0,Rusia-Portugal,MateoGonnet_1_MatiasPoloni.xlsx|Matías Poloni|...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Rusia-Portugal,MateoGonnet_1_MatiasPoloni.xlsx|Matías Poloni|...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,MateoGonnet_1_MatiasPoloni.xlsx|Matías Poloni|...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,MateoGonnet_1_MatiasPoloni.xlsx|Matías Poloni|...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,MateoGonnet_1_MatiasPoloni.xlsx|Matías Poloni|...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Pancho_FedericoFiorito.xlsx|Federico Fioritto|...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Pancho_FedericoFiorito.xlsx|Federico Fioritto|...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,1.0,Perú-Nigeria,Pancho_FedericoFiorito.xlsx|Federico Fioritto|...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Perú-Nigeria,Pancho_FedericoFiorito.xlsx|Federico Fioritto|...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,Pancho_FedericoFiorito.xlsx|Federico Fioritto|...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Penca Argos Rusia 2018 - FedericoArmandPilon_8...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,3.0,Uruguay-España,Penca Argos Rusia 2018 - FedericoArmandPilon_8...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 - FedericoArmandPilon_8...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Penca Argos Rusia 2018 - FedericoArmandPilon_8...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Penca Argos Rusia 2018 - FedericoArmandPilon_8...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_3_Guzm...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_3_Guzm...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Penca Argos Rusia 2018 - FrankoGraziano_3_Guzm...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Penca Argos Rusia 2018 - FrankoGraziano_3_Guzm...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,1.0,Brasil-México,Penca Argos Rusia 2018 - FrankoGraziano_3_Guzm...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,JonathanMurana_MartinViurrarena.xlsx|Martin Vi...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,JonathanMurana_MartinViurrarena.xlsx|Martin Vi...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,JonathanMurana_MartinViurrarena.xlsx|Martin Vi...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,JonathanMurana_MartinViurrarena.xlsx|Martin Vi...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,JonathanMurana_MartinViurrarena.xlsx|Martin Vi...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 AgustinPerez_6_AgustinP...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 AgustinPerez_6_AgustinP...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_6_AgustinP...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_6_AgustinP...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Penca Argos Rusia 2018 AgustinPerez_6_AgustinP...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Javier Hernández_10_Gimena Norando.xlsx|Gimena...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Javier Hernández_10_Gimena Norando.xlsx|Gimena...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,2.0,Perú-Nigeria,Javier Hernández_10_Gimena Norando.xlsx|Gimena...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Perú-Nigeria,Javier Hernández_10_Gimena Norando.xlsx|Gimena...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Javier Hernández_10_Gimena Norando.xlsx|Gimena...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Pancho_AvedisMaroukian.xlsx|Avedis Maroukian|a...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Pancho_AvedisMaroukian.xlsx|Avedis Maroukian|a...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Croacia,Pancho_AvedisMaroukian.xlsx|Avedis Maroukian|a...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Pancho_AvedisMaroukian.xlsx|Avedis Maroukian|a...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Pancho_AvedisMaroukian.xlsx|Avedis Maroukian|a...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Marruecos,Javier Hernández_30_Fernando Goldie.xlsx|Ferna...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Marruecos,1.0,Uruguay-Marruecos,Javier Hernández_30_Fernando Goldie.xlsx|Ferna...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Islandia,Javier Hernández_30_Fernando Goldie.xlsx|Ferna...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,1.0,Francia-Islandia,Javier Hernández_30_Fernando Goldie.xlsx|Ferna...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Javier Hernández_30_Fernando Goldie.xlsx|Ferna...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,NicolásFripp_9_NicolásFripp.xlsx|Nicolás Fripp...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,2.0,Uruguay-España,NicolásFripp_9_NicolásFripp.xlsx|Nicolás Fripp...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Argentina,NicolásFripp_9_NicolásFripp.xlsx|Nicolás Fripp...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,NicolásFripp_9_NicolásFripp.xlsx|Nicolás Fripp...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,NicolásFripp_9_NicolásFripp.xlsx|Nicolás Fripp...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 SGonett GALVAO 5...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 SGonett GALVAO 5...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,Galvao_Penca Argos Rusia 2018 SGonett GALVAO 5...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,0.0,Francia-Argentina,Galvao_Penca Argos Rusia 2018 SGonett GALVAO 5...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Galvao_Penca Argos Rusia 2018 SGonett GALVAO 5...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,LucasBouissa_10_NicolasImbriaco.xlsx|Nicolas I...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,LucasBouissa_10_NicolasImbriaco.xlsx|Nicolas I...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,LucasBouissa_10_NicolasImbriaco.xlsx|Nicolas I...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,LucasBouissa_10_NicolasImbriaco.xlsx|Nicolas I...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,LucasBouissa_10_NicolasImbriaco.xlsx|Nicolas I...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Pancho_GiulianoSeveri.xlsx|Giuliano Severi|giu...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,Pancho_GiulianoSeveri.xlsx|Giuliano Severi|giu...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,Pancho_GiulianoSeveri.xlsx|Giuliano Severi|giu...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,3.0,Francia-Argentina,Pancho_GiulianoSeveri.xlsx|Giuliano Severi|giu...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-México,Pancho_GiulianoSeveri.xlsx|Giuliano Severi|giu...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Irán,Paolo De Franco_Cecilia Cristiano.xlsx|Cecilia...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Irán,1.0,Uruguay-Irán,Paolo De Franco_Cecilia Cristiano.xlsx|Cecilia...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Islandia,Paolo De Franco_Cecilia Cristiano.xlsx|Cecilia...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Francia-Islandia,Paolo De Franco_Cecilia Cristiano.xlsx|Cecilia...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Paolo De Franco_Cecilia Cristiano.xlsx|Cecilia...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Javier Hernández_28_Federico Rosas.xlsx|Federi...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Javier Hernández_28_Federico Rosas.xlsx|Federi...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,Javier Hernández_28_Federico Rosas.xlsx|Federi...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,Javier Hernández_28_Federico Rosas.xlsx|Federi...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Javier Hernández_28_Federico Rosas.xlsx|Federi...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 - ErnestoRoca_6_Santiag...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - ErnestoRoca_6_Santiag...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,Penca Argos Rusia 2018 - ErnestoRoca_6_Santiag...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,Penca Argos Rusia 2018 - ErnestoRoca_6_Santiag...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Penca Argos Rusia 2018 - ErnestoRoca_6_Santiag...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,PabloGronros_PabloGronros.xlsx|Pablo Gronros|p...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,PabloGronros_PabloGronros.xlsx|Pablo Gronros|p...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,1.0,Perú-Croacia,PabloGronros_PabloGronros.xlsx|Pablo Gronros|p...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Perú-Croacia,PabloGronros_PabloGronros.xlsx|Pablo Gronros|p...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,PabloGronros_PabloGronros.xlsx|Pablo Gronros|p...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,0.0,Uruguay-España,Pancho_MBiganzoli3.xlsx|Martín Biganzoli|mbiga...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Pancho_MBiganzoli3.xlsx|Martín Biganzoli|mbiga...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Pancho_MBiganzoli3.xlsx|Martín Biganzoli|mbiga...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,Pancho_MBiganzoli3.xlsx|Martín Biganzoli|mbiga...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,Pancho_MBiganzoli3.xlsx|Martín Biganzoli|mbiga...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,MateoGonnet_6_VirginiaOlivera.xlsx|Virginia Ol...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,MateoGonnet_6_VirginiaOlivera.xlsx|Virginia Ol...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,MateoGonnet_6_VirginiaOlivera.xlsx|Virginia Ol...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,MateoGonnet_6_VirginiaOlivera.xlsx|Virginia Ol...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,MateoGonnet_6_VirginiaOlivera.xlsx|Virginia Ol...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,NicolásFripp_11_FrancoSena.xlsx|Franco Sena|se...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,NicolásFripp_11_FrancoSena.xlsx|Franco Sena|se...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,NicolásFripp_11_FrancoSena.xlsx|Franco Sena|se...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,NicolásFripp_11_FrancoSena.xlsx|Franco Sena|se...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,NicolásFripp_11_FrancoSena.xlsx|Franco Sena|se...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,MarianoMartinez_3_ChuzoDrogba.xlsx|Chuzo Drogb...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,MarianoMartinez_3_ChuzoDrogba.xlsx|Chuzo Drogb...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Croacia,MarianoMartinez_3_ChuzoDrogba.xlsx|Chuzo Drogb...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,MarianoMartinez_3_ChuzoDrogba.xlsx|Chuzo Drogb...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,MarianoMartinez_3_ChuzoDrogba.xlsx|Chuzo Drogb...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Marruecos,NicolásFripp_27_JavierMachado.xlsx|Javier Mach...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Marruecos,0.0,Uruguay-Marruecos,NicolásFripp_27_JavierMachado.xlsx|Javier Mach...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,NicolásFripp_27_JavierMachado.xlsx|Javier Mach...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,NicolásFripp_27_JavierMachado.xlsx|Javier Mach...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,NicolásFripp_27_JavierMachado.xlsx|Javier Mach...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 _Mayra GALVAO 3....,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 _Mayra GALVAO 3....,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018 _Mayra GALVAO 3....,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018 _Mayra GALVAO 3....,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Galvao_Penca Argos Rusia 2018 _Mayra GALVAO 3....,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,NicolásFripp_7_AdriánBonjour.xlsx|Adrián Bonjo...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,NicolásFripp_7_AdriánBonjour.xlsx|Adrián Bonjo...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,NicolásFripp_7_AdriánBonjour.xlsx|Adrián Bonjo...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,NicolásFripp_7_AdriánBonjour.xlsx|Adrián Bonjo...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-México,NicolásFripp_7_AdriánBonjour.xlsx|Adrián Bonjo...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_12_Ger...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_12_Ger...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_12_Ger...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_12_Ger...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Suecia,Penca Argos Rusia 2018 - FrankoGraziano_12_Ger...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Mathias Legarreta_Penca Argos Rusia 2018 Matia...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Mathias Legarreta_Penca Argos Rusia 2018 Matia...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mathias Legarreta_Penca Argos Rusia 2018 Matia...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Mathias Legarreta_Penca Argos Rusia 2018 Matia...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Mathias Legarreta_Penca Argos Rusia 2018 Matia...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Pancho_NicoMastandrea.xlsx|Nicolás Mastandrea|...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Pancho_NicoMastandrea.xlsx|Nicolás Mastandrea|...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Pancho_NicoMastandrea.xlsx|Nicolás Mastandrea|...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,2.0,Francia-Croacia,Pancho_NicoMastandrea.xlsx|Nicolás Mastandrea|...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Pancho_NicoMastandrea.xlsx|Nicolás Mastandrea|...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Paolo DeFranco_Facundo Borges.xlsx|Facundo Bor...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Paolo DeFranco_Facundo Borges.xlsx|Facundo Bor...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Paolo DeFranco_Facundo Borges.xlsx|Facundo Bor...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Paolo DeFranco_Facundo Borges.xlsx|Facundo Bor...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Paolo DeFranco_Facundo Borges.xlsx|Facundo Bor...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Pancho_NicoMajul.xlsx|Nicolás Majul Deus|nicol...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Pancho_NicoMajul.xlsx|Nicolás Majul Deus|nicol...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Pancho_NicoMajul.xlsx|Nicolás Majul Deus|nicol...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Pancho_NicoMajul.xlsx|Nicolás Majul Deus|nicol...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Suecia,Pancho_NicoMajul.xlsx|Nicolás Majul Deus|nicol...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Javier Hernández_21_Pablo Gaggero.xlsx|Pablo G...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Javier Hernández_21_Pablo Gaggero.xlsx|Pablo G...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Javier Hernández_21_Pablo Gaggero.xlsx|Pablo G...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Javier Hernández_21_Pablo Gaggero.xlsx|Pablo G...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Javier Hernández_21_Pablo Gaggero.xlsx|Pablo G...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Paolo De Franco_Caro Tortorella.xlsx|CAROLINA ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Paolo De Franco_Caro Tortorella.xlsx|CAROLINA ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Paolo De Franco_Caro Tortorella.xlsx|CAROLINA ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Paolo De Franco_Caro Tortorella.xlsx|CAROLINA ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Paolo De Franco_Caro Tortorella.xlsx|CAROLINA ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,SebastianAlvarez_2_Micaela_Formento.xlsx|Micae...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,SebastianAlvarez_2_Micaela_Formento.xlsx|Micae...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Nigeria,SebastianAlvarez_2_Micaela_Formento.xlsx|Micae...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,SebastianAlvarez_2_Micaela_Formento.xlsx|Micae...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,SebastianAlvarez_2_Micaela_Formento.xlsx|Micae...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Egipto,2.0,Egipto-Portugal,JonathanMurana_NicolasBillar.xlsx|Nicolás Bill...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Egipto-Portugal,JonathanMurana_NicolasBillar.xlsx|Nicolás Bill...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Croacia,JonathanMurana_NicolasBillar.xlsx|Nicolás Bill...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,JonathanMurana_NicolasBillar.xlsx|Nicolás Bill...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,JonathanMurana_NicolasBillar.xlsx|Nicolás Bill...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Marruecos,LucasBouissa_14_AlexRostan.xlsx|Alex Rostan|ro...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Marruecos,1.0,Uruguay-Marruecos,LucasBouissa_14_AlexRostan.xlsx|Alex Rostan|ro...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Islandia,LucasBouissa_14_AlexRostan.xlsx|Alex Rostan|ro...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,1.0,Francia-Islandia,LucasBouissa_14_AlexRostan.xlsx|Alex Rostan|ro...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,LucasBouissa_14_AlexRostan.xlsx|Alex Rostan|ro...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Mauro_ 1 (LR).xlsx|Lucía Ramírez|ramirezlucia5...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Mauro_ 1 (LR).xlsx|Lucía Ramírez|ramirezlucia5...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mauro_ 1 (LR).xlsx|Lucía Ramírez|ramirezlucia5...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Mauro_ 1 (LR).xlsx|Lucía Ramírez|ramirezlucia5...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Mauro_ 1 (LR).xlsx|Lucía Ramírez|ramirezlucia5...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,LucasBouissa_15_JuanNobre.xlsx|Juan Matías Nob...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,LucasBouissa_15_JuanNobre.xlsx|Juan Matías Nob...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,LucasBouissa_15_JuanNobre.xlsx|Juan Matías Nob...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,LucasBouissa_15_JuanNobre.xlsx|Juan Matías Nob...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,LucasBouissa_15_JuanNobre.xlsx|Juan Matías Nob...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_11_LUC...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_11_LUC...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_11_LUC...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_11_LUC...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,Penca Argos Rusia 2018 - FrankoGraziano_11_LUC...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,SebastianAlvarez_5_GustavoParma.xlsx|Gustavo P...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,SebastianAlvarez_5_GustavoParma.xlsx|Gustavo P...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Nigeria,SebastianAlvarez_5_GustavoParma.xlsx|Gustavo P...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,SebastianAlvarez_5_GustavoParma.xlsx|Gustavo P...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,SebastianAlvarez_5_GustavoParma.xlsx|Gustavo P...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,4.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,3.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Marruecos,Pancho_Pancho.xlsx|Francisco Arnaldi|arnaldifr...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Marruecos,1.0,Uruguay-Marruecos,Pancho_Pancho.xlsx|Francisco Arnaldi|arnaldifr...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,1.0,Perú-Argentina,Pancho_Pancho.xlsx|Francisco Arnaldi|arnaldifr...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Perú-Argentina,Pancho_Pancho.xlsx|Francisco Arnaldi|arnaldifr...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Pancho_Pancho.xlsx|Francisco Arnaldi|arnaldifr...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,PabloGronros_RodrigoFernandez.xlsx|Rodrigo Fer...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,PabloGronros_RodrigoFernandez.xlsx|Rodrigo Fer...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,PabloGronros_RodrigoFernandez.xlsx|Rodrigo Fer...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,PabloGronros_RodrigoFernandez.xlsx|Rodrigo Fer...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,PabloGronros_RodrigoFernandez.xlsx|Rodrigo Fer...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Paolo De Franco_Karen Fernandes.xlsx|karen fer...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Paolo De Franco_Karen Fernandes.xlsx|karen fer...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Paolo De Franco_Karen Fernandes.xlsx|karen fer...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Paolo De Franco_Karen Fernandes.xlsx|karen fer...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Paolo De Franco_Karen Fernandes.xlsx|karen fer...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,JonathanMurana_JuanAngel.xlsx|Juan Angel Álvar...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,JonathanMurana_JuanAngel.xlsx|Juan Angel Álvar...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,JonathanMurana_JuanAngel.xlsx|Juan Angel Álvar...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,JonathanMurana_JuanAngel.xlsx|Juan Angel Álvar...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,JonathanMurana_JuanAngel.xlsx|Juan Angel Álvar...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,MarianoMartinez_8_IgnacioMendez2.xlsx|Ignacio ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,MarianoMartinez_8_IgnacioMendez2.xlsx|Ignacio ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,MarianoMartinez_8_IgnacioMendez2.xlsx|Ignacio ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,MarianoMartinez_8_IgnacioMendez2.xlsx|Ignacio ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,MarianoMartinez_8_IgnacioMendez2.xlsx|Ignacio ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Irán,Pancho_Fede Porto de Penca Argos Rusia 2018.xl...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Irán,1.0,Uruguay-Irán,Pancho_Fede Porto de Penca Argos Rusia 2018.xl...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,1.0,Perú-Argentina,Pancho_Fede Porto de Penca Argos Rusia 2018.xl...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,3.0,Perú-Argentina,Pancho_Fede Porto de Penca Argos Rusia 2018.xl...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,Pancho_Fede Porto de Penca Argos Rusia 2018.xl...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Javier Hernández_7_Daniel Laco.xlsx|Daniel Lac...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,0.0,Uruguay-España,Javier Hernández_7_Daniel Laco.xlsx|Daniel Lac...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Islandia,Javier Hernández_7_Daniel Laco.xlsx|Daniel Lac...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Francia-Islandia,Javier Hernández_7_Daniel Laco.xlsx|Daniel Lac...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Javier Hernández_7_Daniel Laco.xlsx|Daniel Lac...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Mathias Legarreta_03.xlsx|Mathias Legarreta|ma...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,Mathias Legarreta_03.xlsx|Mathias Legarreta|ma...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,Mathias Legarreta_03.xlsx|Mathias Legarreta|ma...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,Mathias Legarreta_03.xlsx|Mathias Legarreta|ma...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Mathias Legarreta_03.xlsx|Mathias Legarreta|ma...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Javier Hernández_8_Daniel Losada.xlsx|Daniel L...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Javier Hernández_8_Daniel Losada.xlsx|Daniel L...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Javier Hernández_8_Daniel Losada.xlsx|Daniel L...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Javier Hernández_8_Daniel Losada.xlsx|Daniel L...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Javier Hernández_8_Daniel Losada.xlsx|Daniel L...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,JonathanMurana_MarcosValdivia.xlsx|Marcos Vald...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,JonathanMurana_MarcosValdivia.xlsx|Marcos Vald...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,JonathanMurana_MarcosValdivia.xlsx|Marcos Vald...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,JonathanMurana_MarcosValdivia.xlsx|Marcos Vald...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,JonathanMurana_MarcosValdivia.xlsx|Marcos Vald...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,NicolásFripp_4_RodrigoBeira.xlsx|Rodrigo Beira...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,NicolásFripp_4_RodrigoBeira.xlsx|Rodrigo Beira...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Argentina,NicolásFripp_4_RodrigoBeira.xlsx|Rodrigo Beira...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,NicolásFripp_4_RodrigoBeira.xlsx|Rodrigo Beira...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Corea del Sur,NicolásFripp_4_RodrigoBeira.xlsx|Rodrigo Beira...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Marruecos,PabloGronros_LucianoOrtiz.xls|Luciano Ortiz|lu...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Marruecos,0.0,Uruguay-Marruecos,PabloGronros_LucianoOrtiz.xls|Luciano Ortiz|lu...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Dinamarca,1.0,Dinamarca-Argentina,PabloGronros_LucianoOrtiz.xls|Luciano Ortiz|lu...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Dinamarca-Argentina,PabloGronros_LucianoOrtiz.xls|Luciano Ortiz|lu...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,PabloGronros_LucianoOrtiz.xls|Luciano Ortiz|lu...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Egipto,2.0,Egipto-España,MarianoMartinez_1_MaiteDominguez.xlsx|Maite Do...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Egipto-España,MarianoMartinez_1_MaiteDominguez.xlsx|Maite Do...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,MarianoMartinez_1_MaiteDominguez.xlsx|Maite Do...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,2.0,Francia-Nigeria,MarianoMartinez_1_MaiteDominguez.xlsx|Maite Do...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,MarianoMartinez_1_MaiteDominguez.xlsx|Maite Do...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-España,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Javier Hernández_27_Joaquin Rosas.xlsx|Joaquin...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Javier Hernández_27_Joaquin Rosas.xlsx|Joaquin...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Javier Hernández_27_Joaquin Rosas.xlsx|Joaquin...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Javier Hernández_27_Joaquin Rosas.xlsx|Joaquin...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Javier Hernández_27_Joaquin Rosas.xlsx|Joaquin...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,LucasBouissa_22_JairCoceres.xlsx|Jair Coceres|...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,LucasBouissa_22_JairCoceres.xlsx|Jair Coceres|...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,LucasBouissa_22_JairCoceres.xlsx|Jair Coceres|...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,2.0,Francia-Croacia,LucasBouissa_22_JairCoceres.xlsx|Jair Coceres|...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,LucasBouissa_22_JairCoceres.xlsx|Jair Coceres|...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,NicolásFripp_15_GiulianaPerdomo.xlsx|Giuliana ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,NicolásFripp_15_GiulianaPerdomo.xlsx|Giuliana ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,4.0,Francia-Nigeria,NicolásFripp_15_GiulianaPerdomo.xlsx|Giuliana ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,NicolásFripp_15_GiulianaPerdomo.xlsx|Giuliana ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-México,NicolásFripp_15_GiulianaPerdomo.xlsx|Giuliana ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,NicolásFripp_20_AlbertoVaucheret.xlsx|Alberto ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,NicolásFripp_20_AlbertoVaucheret.xlsx|Alberto ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,NicolásFripp_20_AlbertoVaucheret.xlsx|Alberto ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,NicolásFripp_20_AlbertoVaucheret.xlsx|Alberto ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,NicolásFripp_20_AlbertoVaucheret.xlsx|Alberto ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Paolo De Franco_Juanma Alarcon.xlsx|Juanma Ala...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Paolo De Franco_Juanma Alarcon.xlsx|Juanma Ala...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Islandia,Paolo De Franco_Juanma Alarcon.xlsx|Juanma Ala...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Francia-Islandia,Paolo De Franco_Juanma Alarcon.xlsx|Juanma Ala...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Paolo De Franco_Juanma Alarcon.xlsx|Juanma Ala...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Mauro_ 14 (RM).xlsx|Ramiro Mariño|Ramiro.marin...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Mauro_ 14 (RM).xlsx|Ramiro Mariño|Ramiro.marin...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mauro_ 14 (RM).xlsx|Ramiro Mariño|Ramiro.marin...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Mauro_ 14 (RM).xlsx|Ramiro Mariño|Ramiro.marin...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Suecia,Mauro_ 14 (RM).xlsx|Ramiro Mariño|Ramiro.marin...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Penca Argos Rusia 2018 - FrankoGraziano_6_PABL...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,0.0,Uruguay-España,Penca Argos Rusia 2018 - FrankoGraziano_6_PABL...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,Penca Argos Rusia 2018 - FrankoGraziano_6_PABL...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,Penca Argos Rusia 2018 - FrankoGraziano_6_PABL...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,1.0,Brasil-México,Penca Argos Rusia 2018 - FrankoGraziano_6_PABL...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_19_Agu...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_19_Agu...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_19_Agu...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_19_Agu...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Penca Argos Rusia 2018 - FrankoGraziano_19_Agu...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_17_Gus...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FrankoGraziano_17_Gus...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Australia,1.0,Australia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_17_Gus...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,2.0,Australia-Croacia,Penca Argos Rusia 2018 - FrankoGraziano_17_Gus...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,1.0,Brasil-México,Penca Argos Rusia 2018 - FrankoGraziano_17_Gus...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Javier Hernández_19_Mauricio Stagno.xlsx|Mauri...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,0.0,Uruguay-España,Javier Hernández_19_Mauricio Stagno.xlsx|Mauri...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Argentina,Javier Hernández_19_Mauricio Stagno.xlsx|Mauri...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,Javier Hernández_19_Mauricio Stagno.xlsx|Mauri...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Suiza,2.0,Suiza-Suecia,Javier Hernández_19_Mauricio Stagno.xlsx|Mauri...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_6...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_6...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Dinamarca,2.0,Dinamarca-Nigeria,Penca Argos Rusia 2018 - FedericoArmandPilon_6...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Dinamarca-Nigeria,Penca Argos Rusia 2018 - FedericoArmandPilon_6...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,1.0,Brasil-México,Penca Argos Rusia 2018 - FedericoArmandPilon_6...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,LucasBouissa_17_Massa.xlsx|Miguel Massa|massit...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,LucasBouissa_17_Massa.xlsx|Miguel Massa|massit...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,LucasBouissa_17_Massa.xlsx|Miguel Massa|massit...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,LucasBouissa_17_Massa.xlsx|Miguel Massa|massit...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,LucasBouissa_17_Massa.xlsx|Miguel Massa|massit...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,JonathanMurana_MauricioPirene.xlsx|Mauricio Pi...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,JonathanMurana_MauricioPirene.xlsx|Mauricio Pi...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,JonathanMurana_MauricioPirene.xlsx|Mauricio Pi...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,JonathanMurana_MauricioPirene.xlsx|Mauricio Pi...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,JonathanMurana_MauricioPirene.xlsx|Mauricio Pi...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Mauro_ 13 (AP).xlsx|Agustina Pereira|magustina...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Mauro_ 13 (AP).xlsx|Agustina Pereira|magustina...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mauro_ 13 (AP).xlsx|Agustina Pereira|magustina...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Mauro_ 13 (AP).xlsx|Agustina Pereira|magustina...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Mauro_ 13 (AP).xlsx|Agustina Pereira|magustina...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,LucasBouissa_8_GonzaloSintas.xlsx|Gonzalo Sint...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,LucasBouissa_8_GonzaloSintas.xlsx|Gonzalo Sint...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,LucasBouissa_8_GonzaloSintas.xlsx|Gonzalo Sint...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,LucasBouissa_8_GonzaloSintas.xlsx|Gonzalo Sint...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,LucasBouissa_8_GonzaloSintas.xlsx|Gonzalo Sint...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,NicolásFripp_26_RichardGaleano.xlsx|Richard Ga...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,NicolásFripp_26_RichardGaleano.xlsx|Richard Ga...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Dinamarca,2.0,Dinamarca-Nigeria,NicolásFripp_26_RichardGaleano.xlsx|Richard Ga...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Dinamarca-Nigeria,NicolásFripp_26_RichardGaleano.xlsx|Richard Ga...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,NicolásFripp_26_RichardGaleano.xlsx|Richard Ga...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 GALVAO 1.xlsx|Go...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018 GALVAO 1.xlsx|Go...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018 GALVAO 1.xlsx|Go...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018 GALVAO 1.xlsx|Go...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Galvao_Penca Argos Rusia 2018 GALVAO 1.xlsx|Go...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,"Galvao_Penca Argos Rusia 2018, Carlos Francia ...",Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,"Galvao_Penca Argos Rusia 2018, Carlos Francia ...",Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,"Galvao_Penca Argos Rusia 2018, Carlos Francia ...",Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,"Galvao_Penca Argos Rusia 2018, Carlos Francia ...",Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,"Galvao_Penca Argos Rusia 2018, Carlos Francia ...",Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Rusia,2.0,Rusia-España,Mauro _4 (AO).xlsx|Aldana Oliva Viar|aldanaoli...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Rusia-España,Mauro _4 (AO).xlsx|Aldana Oliva Viar|aldanaoli...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,1.0,Perú-Croacia,Mauro _4 (AO).xlsx|Aldana Oliva Viar|aldanaoli...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Perú-Croacia,Mauro _4 (AO).xlsx|Aldana Oliva Viar|aldanaoli...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Corea del Sur,Mauro _4 (AO).xlsx|Aldana Oliva Viar|aldanaoli...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Mathias Legarreta_ 06.xlsx|Mathias Legarreta|m...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Mathias Legarreta_ 06.xlsx|Mathias Legarreta|m...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Mathias Legarreta_ 06.xlsx|Mathias Legarreta|m...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Mathias Legarreta_ 06.xlsx|Mathias Legarreta|m...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Mathias Legarreta_ 06.xlsx|Mathias Legarreta|m...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,NicolásFripp_8_ArielFernández.xlsx|Ariel Ferna...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,NicolásFripp_8_ArielFernández.xlsx|Ariel Ferna...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,NicolásFripp_8_ArielFernández.xlsx|Ariel Ferna...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,NicolásFripp_8_ArielFernández.xlsx|Ariel Ferna...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,NicolásFripp_8_ArielFernández.xlsx|Ariel Ferna...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-España,Javier Hernández_5_Carla Merlano.xlsx|Carla Me...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,1.0,Uruguay-España,Javier Hernández_5_Carla Merlano.xlsx|Carla Me...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Dinamarca,2.0,Dinamarca-Islandia,Javier Hernández_5_Carla Merlano.xlsx|Carla Me...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Dinamarca-Islandia,Javier Hernández_5_Carla Merlano.xlsx|Carla Me...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Javier Hernández_5_Carla Merlano.xlsx|Carla Me...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,NicolásFripp_19_NicolásMoreira.xlsx|Nicolás Mo...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,NicolásFripp_19_NicolásMoreira.xlsx|Nicolás Mo...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,NicolásFripp_19_NicolásMoreira.xlsx|Nicolás Mo...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,NicolásFripp_19_NicolásMoreira.xlsx|Nicolás Mo...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,NicolásFripp_19_NicolásMoreira.xlsx|Nicolás Mo...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,0.0,Uruguay-Portugal,LucasBouissa_9_Sclei.xlsx|Diego Scleidorovich|...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,2.0,Uruguay-Portugal,LucasBouissa_9_Sclei.xlsx|Diego Scleidorovich|...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,LucasBouissa_9_Sclei.xlsx|Diego Scleidorovich|...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,0.0,Francia-Argentina,LucasBouissa_9_Sclei.xlsx|Diego Scleidorovich|...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,LucasBouissa_9_Sclei.xlsx|Diego Scleidorovich|...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Pancho_GonzaloLupi.xlsx|Gonzalo Lupi|gonzalo.l...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Pancho_GonzaloLupi.xlsx|Gonzalo Lupi|gonzalo.l...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Pancho_GonzaloLupi.xlsx|Gonzalo Lupi|gonzalo.l...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Pancho_GonzaloLupi.xlsx|Gonzalo Lupi|gonzalo.l...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Pancho_GonzaloLupi.xlsx|Gonzalo Lupi|gonzalo.l...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,LucasBouissa_23_EduardoRodriguez.xlsx|Eduardo ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,LucasBouissa_23_EduardoRodriguez.xlsx|Eduardo ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,LucasBouissa_23_EduardoRodriguez.xlsx|Eduardo ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,LucasBouissa_23_EduardoRodriguez.xlsx|Eduardo ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,LucasBouissa_23_EduardoRodriguez.xlsx|Eduardo ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Penca Argos Rusia 2018 AgustinPerez_2_EugeniaP...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 AgustinPerez_2_EugeniaP...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_2_EugeniaP...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_2_EugeniaP...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,6.0,Brasil-México,Penca Argos Rusia 2018 AgustinPerez_2_EugeniaP...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,0.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Islandia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Francia-Islandia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Corea del Sur,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,JonathanMurana_SebastianSilvera.xlsx|Sebastian...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,0.0,Uruguay-España,JonathanMurana_SebastianSilvera.xlsx|Sebastian...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,JonathanMurana_SebastianSilvera.xlsx|Sebastian...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,JonathanMurana_SebastianSilvera.xlsx|Sebastian...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,JonathanMurana_SebastianSilvera.xlsx|Sebastian...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,SebastianAlvarez_3_MarioÁlvarez.xlsx|Mario Álv...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,SebastianAlvarez_3_MarioÁlvarez.xlsx|Mario Álv...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,SebastianAlvarez_3_MarioÁlvarez.xlsx|Mario Álv...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,SebastianAlvarez_3_MarioÁlvarez.xlsx|Mario Álv...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,SebastianAlvarez_3_MarioÁlvarez.xlsx|Mario Álv...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,MarianoMartinez_11_RaphaelHounie.xlsx|Raphael ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,MarianoMartinez_11_RaphaelHounie.xlsx|Raphael ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Argentina,MarianoMartinez_11_RaphaelHounie.xlsx|Raphael ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,MarianoMartinez_11_RaphaelHounie.xlsx|Raphael ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,MarianoMartinez_11_RaphaelHounie.xlsx|Raphael ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Penca Argos Rusia 2018 AgustinPerez_5_Valentin...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 AgustinPerez_5_Valentin...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_5_Valentin...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,0.0,Francia-Croacia,Penca Argos Rusia 2018 AgustinPerez_5_Valentin...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-Suecia,Penca Argos Rusia 2018 AgustinPerez_5_Valentin...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,NicolásFripp_21_GastónGuido.xlsx|Gastón Guido ...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,NicolásFripp_21_GastónGuido.xlsx|Gastón Guido ...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,1.0,Francia-Argentina,NicolásFripp_21_GastónGuido.xlsx|Gastón Guido ...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Francia-Argentina,NicolásFripp_21_GastónGuido.xlsx|Gastón Guido ...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,NicolásFripp_21_GastónGuido.xlsx|Gastón Guido ...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,JonathanMurana_ShirleySilvera.xlsx|Shirley Sil...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,JonathanMurana_ShirleySilvera.xlsx|Shirley Sil...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Perú,1.0,Perú-Islandia,JonathanMurana_ShirleySilvera.xlsx|Shirley Sil...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Islandia,0.0,Perú-Islandia,JonathanMurana_ShirleySilvera.xlsx|Shirley Sil...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,JonathanMurana_ShirleySilvera.xlsx|Shirley Sil...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,1.0,Francia-Argentina,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,4.0,Brasil-Suecia,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-España,Javier Hernández_26_Pablo Redes.xlsx|Pablo Red...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,0.0,Uruguay-España,Javier Hernández_26_Pablo Redes.xlsx|Pablo Red...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Dinamarca,0.0,Dinamarca-Argentina,Javier Hernández_26_Pablo Redes.xlsx|Pablo Red...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,2.0,Dinamarca-Argentina,Javier Hernández_26_Pablo Redes.xlsx|Pablo Red...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Javier Hernández_26_Pablo Redes.xlsx|Pablo Red...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,3.0,Uruguay-España,LucasBouissa_6_PabloHernandez.xlsx|Pablo Herná...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,2.0,Uruguay-España,LucasBouissa_6_PabloHernandez.xlsx|Pablo Herná...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Argentina,LucasBouissa_6_PabloHernandez.xlsx|Pablo Herná...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Argentina,0.0,Francia-Argentina,LucasBouissa_6_PabloHernandez.xlsx|Pablo Herná...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,LucasBouissa_6_PabloHernandez.xlsx|Pablo Herná...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Mauro_ 8 (MG).xlsx|Matias Guigou|matiasguigouj...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Mauro_ 8 (MG).xlsx|Matias Guigou|matiasguigouj...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Mauro_ 8 (MG).xlsx|Matias Guigou|matiasguigouj...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Mauro_ 8 (MG).xlsx|Matias Guigou|matiasguigouj...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Mauro_ 8 (MG).xlsx|Matias Guigou|matiasguigouj...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Egipto,1.0,Egipto-España,Javier Hernández_3_Alvaro Arrillaga.xlsx|Alvar...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,España,2.0,Egipto-España,Javier Hernández_3_Alvaro Arrillaga.xlsx|Alvar...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,Javier Hernández_3_Alvaro Arrillaga.xlsx|Alvar...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,3.0,Francia-Nigeria,Javier Hernández_3_Alvaro Arrillaga.xlsx|Alvar...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Javier Hernández_3_Alvaro Arrillaga.xlsx|Alvar...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-Suecia,Galvao_Penca Argos Rusia 2018_A-Menini_02 GALV...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,1.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Uruguay-Portugal,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,2.0,Francia-Nigeria,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,0.0,Francia-Nigeria,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Penca Argos Rusia 2018 - FedericoArmandPilon_1...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Uruguay,2.0,Uruguay-Portugal,Javier Hernández_1_Agustin De León.xlsx|Agusti...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,1.0,Uruguay-Portugal,Javier Hernández_1_Agustin De León.xlsx|Agusti...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Nigeria,Javier Hernández_1_Agustin De León.xlsx|Agusti...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Nigeria,1.0,Francia-Nigeria,Javier Hernández_1_Agustin De León.xlsx|Agusti...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,2.0,Brasil-México,Javier Hernández_1_Agustin De León.xlsx|Agusti...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com

,label,value,key1,id,label,value,key1,id
4,Egipto,0.0,Egipto-Portugal,Javier Hernández_14_Jonnathan Silva.xlsx|Jonna...,Uruguay,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
5,Portugal,0.0,Egipto-Portugal,Javier Hernández_14_Jonnathan Silva.xlsx|Jonna...,Portugal,NaN,Uruguay-Portugal,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
7,Francia,3.0,Francia-Croacia,Javier Hernández_14_Jonnathan Silva.xlsx|Jonna...,Francia,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
8,Croacia,1.0,Francia-Croacia,Javier Hernández_14_Jonnathan Silva.xlsx|Jonna...,Argentina,NaN,Francia-Argentina,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com
11,Brasil,3.0,Brasil-México,Javier Hernández_14_Jonnathan Silva.xlsx|Jonna...,Brasil,NaN,Brasil-México,RESULTADO_RESULTADO.xlsx|aaaaaa|q@asd.com